SECRET_KEY=ЗАМЕНИ_НА_ДЛИННУЮ_СЛУЧАЙНУЮ_СТРОКУ
DEBUG=False
DJANGO_SETTINGS_MODULE=config.settings.production

DB_NAME=fitness_crm
DB_USER=fitness_user
DB_PASSWORD=ПРИДУМАЙ_СИЛЬНЫЙ_ПАРОЛЬ
DB_HOST=localhost
DB_PORT=5432

ALLOWED_HOSTS=crm.aiym-syry.kg,www.crm.aiym-syry.kg,72.56.252.76
CORS_ALLOWED_ORIGINS=https://crm.aiym-syry.kg,https://www.crm.aiym-syry.kg
